:root {
    --blanc: white;
    --noir: black;
    --gris-sombre: #212529;
    --gris-moyen: rgba(20, 20, 20, 0.63);
    --gris-clair: lightgray;
    --bleu-turquoise: rgba(0, 206, 212, 0.84);
}
.my-custom-scrollbar {
    position: relative;
    height: 400px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}
body,html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.centrage {text-align: center;}
/*.form-control-borderless {*/
/*    border: none;*/
/*}*/

/*.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {*/
/*    border: none;*/
/*    outline: none;*/
/*    box-shadow: none;*/
/*}*/

/*.search-form {*/
/*    width: 500px;*/
/*}*/

.btn-common {
    border: 2px solid var(--gris-sombre);
    font-weight: bold;
    background-color: var(--gris-sombre);
    color: var(--blanc);
    border-radius: 0px;
    cursor: pointer;
}

.btn-common-disabled {
    background-color: var(--gris-clair);
    border: 2px solid var(--gris-clair);
    cursor: default;
}

.add {
    width:100%;
}

.inpt-table {
    display: inline;
    width: 200px;
}

.uppecase {
    text-transform: uppercase;
}

.loader {
    z-index: 2147483647;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


#modal-lieu {
    z-index: 1050 !important;
}

.inpt-modal {
    width: 100%;
    z-index: 2000 !important;
}

.ui-autocomplete.ui-menu {
    z-index: 2000;
}