{% extends 'base.html.twig' %}

{% block title %}Gestion des villes{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center"> Gérer les villes </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3> Filtrer les villes </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table>
                    <thead>
                        <tr>
                            <th>VILLE</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tr class="row">
                        <td class="col"></td>
                        <td class="col"></td>
                    </tr>
                </table>
            </div>
        </div>
{% endblock %}
