{% extends 'base.html.twig' %}

{% block title %}Gestion des villes{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center"> Gérer les villes </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3> Filtrer les villes </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text" id="basic-addon1">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                    <input id="inpt-ville-search" type="text" class="form-control" placeholder="Chercher une ville" aria-label="chercher-un-ville" aria-describedby="basic-addon1" data-url="{{ path( 'ville_search' ) }}">
                </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div id="table-ville" class="col-md-12">
                {% include 'admin/admin_ville_table.html.twig' %}
            </div>
        </div>
        <div class="row">
            <div class="pagination col-md-12">
                {{ knp_pagination_render( allVilles ) }}
            </div>
        </div>
    </div>
{% endblock %}