{% extends 'base.html.twig' %}

{% block title %}Gestion des lieux{% endblock %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center"> Gérer les lieux </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3> Filtrer les lieux </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text" id="basic-addon1">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                    <input id="inpt-search" type="text" class="form-control" placeholder="Chercher un lieu" aria-label="Chercher un lieu" aria-describedby="basic-addon1" data-origin="searchbar" data-url="{{ path( 'gestion_lieu' ) }}">
                </div>
                </form>
            </div>
        </div>
        <div  id="table-lieu">
            {% include 'admin/admin_lieu_table.html.twig' %}
        </div>
    </div>
{% endblock %}